## Importer sql et la BDD

In [2]:
import sqlite3
%pwd

'/home/khaleb.dabakuyo@Digital-Grenoble.local/Documents/BDD'

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
bbmd = sqlite3.connect('./billboard/billboard-200.db') #type sqlite3.Connection

## Effectuer des requêtes SQL depuis Pytho pour répondre aux questions suivantes:
* Effectuez la moyenne par année de la caractéristique "acousticness". Quelle est la tendance de cette caractéristique?
* Quelle est l'année dont le niveau sonore "loudness" a été le plus haut?
* Quelle est la clé musicale la plus utilisée - en prenant en compte le mode (e.g. majeur, mineur)?

In [5]:
#Create a cursor object to access the data
cursor = bbmd.cursor()

cursor.execute("SELECT * FROM acoustic_features")

### Effectuez la moyenne par année de la caractéristique "acousticness". Quelle est la tendance de cette caractéristique?

In [6]:
#Mean acousticness by nb lines
query="""
SELECT SUM(acousticness)/count(acousticness) 
FROM acoustic_features
"""
cursor.execute(query)
print(cursor.fetchall())

[(0.29880584830833323,)]

In [10]:
#Mean acousticness by year
query="""
SELECT acousticness, substr(date,1,4)
FROM acoustic_features
GROUP BY substr(date,1,4)
"""
cursor.execute(query)
#print(cursor.fetchall())

In [ ]:
#Count nb of Distinct feature for date as control
query="""
SELECT count(DISTINCT(substr(date,1,4))) 
FROM acoustic_features
"""
cursor.execute(query)
print(cursor.fetchall())

In [ ]:
#Tendance
query = '''SELECT DISTINCT SUBSTR(date, 1, 4) as Annee, AVG(acousticness) as AVG_acousticness
            FROM acoustic_features
            GROUP BY SUBSTR(date, 1, 4)
            ORDER BY SUBSTR(date, 1, 4)'''
cursor.execute(query)
test=cursor.fetchall()
x = []
y = []
for row in test:
    x.append(row[0])
    y.append(row[1])
plt.plot(x, y);

In [ ]:
moy_acous_an = pd.read_sql_query(query, bbmd)
moy_acous_an.set_index('Annee').plot()

### Quelle est l'année dont le niveau sonore "loudness" a été le plus haut?

In [ ]:
#Année dont le niveau sonore "loudness" cumulé a été le plus haut
query="""
SELECT loudness, substr(date,1,4)
FROM acoustic_features
GROUP BY substr(date,1,4)
"""
loudness_sumbyyear=list(cursor.execute(query))
max(loudness_sumbyyear)

In [13]:
#Année dont le niveau sonore "loudness" a été le plus haut pour une donnée
query="""
SELECT max(loudness), substr(date,1,4)
FROM acoustic_features
GROUP BY substr(date,1,4)
"""
loudness_suminyear=list(cursor.execute(query))
max(loudness_suminyear)

(3.744, '1973')

In [11]:
#Année dont le niveau sonore "loudness" cumulé a été le plus haut
query="""
SELECT sum(loudness), substr(date,1,4)
FROM acoustic_features
GROUP BY substr(date,1,4)
"""
loudness_sumforyear=list(cursor.execute(query))
max(loudness_sumforyear)

(-116.75199999999998, '1900')

In [ ]:
query="""
SELECT loudness
FROM acoustic_features
GROUP BY substr(date,1,4)
"""
loudness_year_gb=list(cursor.execute(query))
max(loudness_year_gb)

In [12]:
#Vrai résultat
query= """
SELECT MAX(loudness_byyear), year FROM
(SELECT AVG(loudness) as loudness_byyear, SUBSTR(date,1,4) as year
FROM acoustic_features
GROUP BY year
ORDER BY year)"""
cursor.execute(query)
print(cursor.fetchall())

[(-7.381286924393974, '2010')]

### Quelle est la clé musicale la plus utilisée - en prenant en compte le mode (e.g. majeur, mineur)?

In [14]:
#https://en.wikipedia.org/wiki/Pitch_class
pitches = ['C, B♯', 'C♯, D♭', 'D', 'D♯, E♭', 'E', 'F', 'F♯, G♭', 'G', 'G♯, A♭', 'A', 'A♯, B♭', 'B' ]
keys = [0,1,2,3,4,5,6,7,8,9,10,11]
pk= {'keys':[0,1,2,3,4,5,6,7,8,9,10,11],'pitches':['C, B♯', 'C♯, D♭', 'D', 'D♯, E♭', 'E', 'F', 'F♯, G♭', 'G', 'G♯, A♭', 'A', 'A♯, B♭', 'B' ]}
df_pk= pd.DataFrame(data=pk)
df_pk

    keys pitches
0      0   C, B♯
1      1  C♯, D♭
2      2       D
3      3  D♯, E♭
4      4       E
5      5       F
6      6  F♯, G♭
7      7       G
8      8  G♯, A♭
9      9       A
10    10  A♯, B♭
11    11       B

In [15]:
query="""
SELECT key, count(key), mode
FROM acoustic_features
GROUP BY key
ORDER BY key asc
"""
key_list=pd.DataFrame(cursor.execute(query))
key_list=key_list[1:]
key_list.columns=['keys','count(key)','mode']
key_list

    keys  count(key)  mode
1    0.0       41103   1.0
2    1.0       29207   0.0
3    2.0       39098   0.0
4    3.0       10399   0.0
5    4.0       27185   0.0
6    5.0       27829   0.0
7    6.0       19532   0.0
8    7.0       42139   0.0
9    8.0       19144   1.0
10   9.0       37738   1.0
11  10.0       22027   0.0
12  11.0       24449   0.0

In [16]:
#Merge dataframes des keys/notes et résultats des counts
key_compare= pd.merge(df_pk,key_list)
key_compare

    keys pitches  count(key)  mode
0      0   C, B♯       41103   1.0
1      1  C♯, D♭       29207   0.0
2      2       D       39098   0.0
3      3  D♯, E♭       10399   0.0
4      4       E       27185   0.0
5      5       F       27829   0.0
6      6  F♯, G♭       19532   0.0
7      7       G       42139   0.0
8      8  G♯, A♭       19144   1.0
9      9       A       37738   1.0
10    10  A♯, B♭       22027   0.0
11    11       B       24449   0.0

In [ ]:
#major=1 minor=0
query="""
SELECT key, count(mode), mode
FROM acoustic_features
GROUP BY mode
"""
key_mode=list(cursor.execute(query))
key_mode

In [ ]:
#test major vs minor --> Key
query="""
SELECT mode, key, count(key)
FROM acoustic_features
GROUP BY key
"""
key_mode=pd.DataFrame(cursor.execute(query))
key_mode=key_mode[1:]
key_mode.columns=['Mode','Key','count(key)']
key_mode

In [ ]:
#test major vs minor --> Key
query="""
SELECT (CASE WHEN mode=1.0 then "major" ELSE "minor"END), key, count(key)
FROM acoustic_features
GROUP BY Mode
"""
key_mode=pd.DataFrame(cursor.execute(query))
key_mode=key_mode[1:]
key_mode.columns=['Mode','Key','count(key)']
key_mode #df

In [ ]:
pk= {'keys':[0,1,2,3,4,5,6,7,8,9,10,11],'pitches':['C, B♯', 'C♯, D♭', 'D', 'D♯, E♭', 'E', 'F', 'F♯, G♭', 'G', 'G♯, A♭', 'A', 'A♯, B♭', 'B' ]}
df_pk= pd.DataFrame(data=pk)
test=pd.concat([key_mode,df_pk],axis=1,join='inner')
test

In [ ]:
result = pd.concat([df1, df4], axis=1, join='inner')